<!DOCTYPE html>
<html lang="en">
     <head>
        <link rel="stylesheet" href="pages.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome</title>
    </head>

    <body>
        <h1>Sina Rostam</h1>
                <nav class="navbar">
                    <ul>
                        <li><a href="#View My Work">View My Work</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                

    </body>
</html>
