h1 {
	text-align: left;
	background-color: greenyellow;
	text-align: center;
}

.navbar ul{
	text-align: center;
	list-style-type: none;
	background-color: grey;
	padding: 0px;
	margin: 0px;
}

.navbar a{
	color: grey;	
	text-decoration: none ;
	padding: 3 opx;
	display: block;
	text-align: center;

}

h3{
	text-align: center;
	background-color: greenyellow;
}

.navbar a:hover{
	background-color: blue;
}

.navbar li {
	float: left;
}